:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: MessinaSansWeb,Helvetica,Arial,sans-serif;
  margin:0;
}
main {
    padding: 50px 0px 50px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: MessinaSansWeb,Helvetica,Arial,sans-serif;
}
/* app/globals.css */
.slider-section {
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}

